_ReSharper.*/
_UpgradeReport_Files
UpgradeLog.XML
Backup
Download
[Bb]in
[Oo]bj
*.suo
*.user
PusherRESTDotNet/PusherRESTDotNet.1.0.nupkg
packages/
PusherRESTDotNet.sln.docstates
build
*.testsettings
*.vsmdi
msbuild.log


.DS_Store

# Unity junk files
TestFlightMobileProvisionCache.xml
UnityClient/Temp/*
# Ignore Library/ 
# http://docs.unity3d.com/Documentation/Manual/ExternalVersionControlSystemSupport.html
UnityClient/Library/*

# Unity build files (should be localized)
UnityClient/Assets/Editor/UpdateXcode.scpt
UnityClient/Assets/Editor/UpdateXcode.scpt.meta

# MonoDevelop files
UnityClient/*.csproj
UnityClient/*.pidb
UnityClient/*.sln
UnityClient/*.userprefs
UnityClient/*.unityproj

.vs
